@media print{
  h1 {font-size:20pt; font-weight:bold; text-align:center}
  h2 {font-size:18pt; font-weight:bold; text-align:center}
  h3 {font-size:16pt; font-weight:bold; text-align:center}
  a:link, a:visited { color: #000; font-weight: bold;text-decoration: underline;}    
  a[href]::after {content: " (" attr(href) ")"; }
  img{
    max-height: 150px;
    max-width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
